DATABASE_URL="postgresql://postgres.svphoddnajrfrpqxbtgb:YOUR_PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.svphoddnajrfrpqxbtgb:YOUR_PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="nabrijan_secure_production_jwt_key_2026_bd_marketplace"
NODE_ENV="production"
NEXT_PUBLIC_SUPABASE_URL="https://svphoddnajrfrpqxbtgb.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_Pe2iSRLIE-EztJKjHjM2Ww_JXQXNSY7"
